data/esnli
data/esnli_flat
data/movies
data/cose
data/cose_simplified
data/scifact
data/multirc
data/evidence_inference
.ipynb_checkpoints/
*.jsonl
output/
*.pyc
model/__pycache__/
config/__pycache__/
csv/others
csv/boolq
csv/fever
scripts/transformer_cache
